.se-menu-list {
  border-radius: 5px;
  background-color: #FAFAFA;
}

.sun-editor .se-toolbar-separator-vertical {
  margin-right: 8px;
}

.sun-editor .se-btn {
  width: 29px;
  height: 29px;
}

.sun-editor .se-toolbar {
  background: transparent !important;
  outline: unset;
}

.se-toolbar.sun-editor-common {
  padding-bottom: 0.7rem;
}

.sun-editor {
  border: unset;
}

.sun-editor-editable {
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  background-color: #FAFAFA;
}

.sun-editor .se-resizing-bar {
  display: none;
}

.sun-editor .se-btn-tray {
  padding: 0;
}

.sun-editor.cms-editor-error .sun-editor-editable {
  border-color: #E5151C;
  box-shadow: 0 0 0 1px #E5151C;
}

/* Force everything inside the Sun editor to render in error color */
.sun-editor.cms-editor-error .sun-editor-editable * {
  color: #E5151C !important;
  font-weight: 500;
}